* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    background: #FAF0CA;
    color: #007179;
    text-align: center;
    margin-bottom: 20px;
}

.navbar {
    justify-content: center;
    background: #007179;
    color: #FAF0CA;
    font-size: 20px;
    font-weight: bold;
}
.nav-link, .navbar-brand {
    color: #FAF0CA;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #EE964B;
}
.navbar-collapse {
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 100px;
}

.feature-image {
    width: 500px;
    height: auto;
    max-height: 500px;
    object-fit: cover;
}

h1 {
    text-align: center;
}

h2 {
    padding-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

li {
    list-style-type: none;

}


/* User Info */
.user_info {
    background: #FAF0CA;
    padding: 20px;
    border-radius: 5px;
    width: 70%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto; /* Ajouté pour centrer le bloc */

}

/* Buttons */
.btn-info {
    background: #007179;
    border: none;
    color: #FAF0CA;
    margin-bottom: 5px;
    transition: background 0.3s;
}

.btn-info:hover {
    background: #005f5f;
}

/* Footer */
footer {
    background: #007179;
    color: #FAF0CA;
    padding: 10px 0;
}

.horraires {
    width: 700px;
    margin: auto;
}

.disponible {
    background-color: #d4edda; /* Vert clair */
}
.non-disponible {
    background-color: #f8d7da; /* Rouge clair */
}
.coach-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.coach-photo img {
    max-width: 150px;
    justify-content: left;
    margin-right: 100px;
}
.coach-details {
    max-width: 70%;
    justify-content: right;
    margin-left: 100px;
}

.RDV {
    width: 200px;
    background-color: #1fd614;
    margin-right: 20px;
}

.CHAT {
    width: 200px;
    background: #1fd614;
    margin-left: 20px;
}




@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

*, *:before, *:after {
    box-sizing: border-box;
}

.mega_chat {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: #C5DDEB;
    font: 14px/20px "Lato", Arial, sans-serif;
}

.container {
    margin: 0 auto;
    width: 750px;
    background: #444753;
    border-radius: 5px;
    margin-bottom: 20px;
}

.people-list {
    width:600px;
    float: none;

    .search {
        padding: 20px;
    }

    input {
        border-radius: 3px;
        border: none;
        padding: 14px;
        color: white;
        background: #6A6C75;
        width: 90%;
        font-size: 14px;
    }

    .fa-search {
        position: relative;
        left: -25px;
    }

    ul {
        padding: 20px;
        height: 500px;




        li {
            padding-bottom: 20px;
            list-style-type: none;

        }
    }

    img {
        float: left;
    }

    .about {
        float: left;
        margin-top: 8px;
    }

    .about {
        padding-left: 8px;
    }

    .status {
        color: #92959E;
    }

}

.chat {
    width: 50%;
    height: 70%;
    justify-content: center;
    align-items: center;
    background: #F2F5F8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    color: #434651;

    .chat-header {
        padding: 20px;
        border-bottom: 2px solid white;

        img {
            float: left;
        }

        .chat-about {
            float: left;
            padding-left: 10px;
            margin-top: 6px;
        }

        .chat-with {
            font-weight: bold;
            font-size: 16px;
        }

        .chat-num-messages {
            color: #92959E;
        }

        .fa-star {
            float: right;
            color: #D8DADF;
            font-size: 20px;
            margin-top: 12px;
        }
    }

    .chat-history {
        padding: 30px 30px 20px;
        border-bottom: 2px solid white;
        overflow-y: scroll;
        height: 575px;

        .message-data {
            margin-bottom: 15px;
        }

        .message-data-time {
            color: #92959E;
            padding-left: 6px;
        }

        .message {
            color: white;
            padding: 18px 20px;
            line-height: 26px;
            font-size: 16px;
            border-radius: 7px;
            margin-bottom: 30px;
            width: 90%;
            position: relative;

            &:after {
                bottom: 100%;
                left: 7%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-bottom-color: #86BB71;
                border-width: 10px;
                margin-left: -10px;
            }
        }

        .my-message {
            background: #86BB71;
        }

        .other-message {
            background: #94C2ED;

            &:after {
                border-bottom-color: #94C2ED;
                left: 93%;
            }
        }

    }

    .chat-message {
        padding: 30px;

        textarea {
            width: 100%;
            border: none;
            padding: 10px 20px;
            font: 14px/22px "Lato", Arial, sans-serif;
            margin-bottom: 10px;
            border-radius: 5px;
            resize: none;

        }

        .fa-file-o, .fa-file-image-o {
            font-size: 16px;
            color: #92959E;
            cursor: pointer;

        }

        button {
            float: right;
            color: #94C2ED;
            font-size: 16px;
            text-transform: uppercase;
            border: none;
            cursor: pointer;
            font-weight: bold;
            background: #F2F5F8;

            &:hover {
                color: #94C2ED
            }
        }
    }
}

.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
}

.online {
    color: #86BB71;
}

.offline {
    color: #E38968;
}

.me {
    color: #94C2ED;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.list .clearfix {
    padding: 10px;
}

.list .clearfix:hover {
    background-color: #f5f5f5;
    color: #333;
    cursor: pointer;
}

.list .clearfix .about {
    display: flex;
    align-items: center;
}

.list .clearfix .status {
    display: flex;
    align-items: center;
}

.list .clearfix .status i {
    font-size: 16px;
    color: gray;
    margin-right: 10px;
}

.list .clearfix .name {
    font-weight: bold;
}

.name.user-green {
    color: #86BB71;
}

.name.admin-red {
    color: #E38968;
}

.name.user-grey {
    color: grey;
}


.rdv_info {
    background: #FAF0CA;
    padding: 20px;
    border-radius: 5px;
    width: 20%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-left: 0;

}