header {
   background: #FAF0CA;
   color: #007179;
   text-align: center;
}


.navbar {
   justify-content: center;
   background: #007179;
   color: #FAF0CA;
   font-size: 20px;
   font-weight: bold;
}
.nav-link, .navbar-brand {
   color: #FAF0CA;
   cursor: pointer;
}
.nav-link {
   margin-right: 1em !important;
}
.nav-link:hover {
   color: #EE964B;
}
.navbar-collapse {
   justify-content: center;
}


.row {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 100px;
}


.feature-image {
   width: 500px;
   height: auto;
   max-height: 500px;
   object-fit: cover;
}

.barre-recherche {
    max-width: 600px;
    margin: 100px auto;
    border-radius: 20px;
    background-color: #f1f1f1;
    padding: 10px;
}

.barre-recherche input[type=search] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
}

.barre-recherche button[type=submit] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #007179;
    color: #FAF0CA;
    cursor: pointer;
}

.barre-recherche::placeholder {
    color: #aaa;
    font-style: italic;
}

.resultats-recherche {
    margin: 0 auto;
    width: 60%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.resultat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}


.resultat h2 {
    font-size: 24px;
    margin-bottom: 5px;
    color: #007179;
}


.resultat p {
    font-size: 16px;
    margin: 2px 0;
}


.resultat img {
    border-radius: 10px;
    margin-right: 20px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}


.resultat a {
    color: #007bff;
    text-decoration: none;
}

.resultat a:hover {
    text-decoration: underline;
}

footer {
    background-color: #007179;
    color: #FAF0CA;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}
